In [45]:
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn import model_selection
from sklearn.ensemble import AdaBoostClassifier

In [2]:
train = pd.read_csv("Santander_customer_classification/train_small.csv")

In [3]:
test = pd.read_csv("Santander_customer_classification/test_small.csv")

In [4]:
test.head()

,ID_code,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,-4.9200,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,train_3,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,-5.8609,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
2,train_7,13.5580,-7.9881,13.8776,7.5985,8.6543,0.8310,5.6890,22.3262,5.0647,...,13.1700,6.5491,3.9906,5.8061,23.1407,-0.3776,4.2178,9.4237,8.6624,3.4806
3,train_12,8.7671,-4.6154,9.7242,7.4242,9.0254,1.4247,6.2815,12.3143,5.6964,...,0.3782,7.4382,0.0854,1.3444,17.2439,-0.0798,5.7389,8.4897,17.0938,4.6106
4,train_14,13.8080,5.0514,17.2611,8.5120,12.8517,-9.1622,5.7327,21.0517,-4.5117,...,1.0740,8.3220,3.2619,1.6738,17.4797,-0.0257,-3.5323,9.3439,24.4479,-5.1110

In [5]:
train.head()

,ID_code,c,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
1,train_2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
2,train_4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104
3,train_5,0,11.4763,-2.3182,12.6080,8.6264,10.9621,3.5609,4.5322,15.2255,...,-6.3068,6.6025,5.2912,0.4403,14.9452,1.0314,-3.6241,9.7670,12.5809,-4.7602
4,train_6,0,11.8091,-0.0832,9.3494,4.2916,11.1355,-8.0198,6.1961,12.0771,...,8.7830,6.4521,3.5325,0.1777,18.3314,0.5845,9.1104,9.1143,10.8869,-3.2097

In [7]:
train.describe()

,c,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
count,70057.000000,70057.000000,70057.000000,70057.000000,70057.000000,70057.000000,70057.000000,70057.000000,70057.000000,70057.000000,...,70057.000000,70057.000000,70057.000000,70057.000000,70057.000000,70057.000000,70057.000000,70057.000000,70057.000000,70057.000000
mean,0.099733,10.678757,-1.625370,10.718501,6.801363,11.080280,-5.099666,5.412131,16.557562,0.284365,...,3.257023,7.444208,1.927193,3.328773,18.008622,-0.140578,2.298631,8.906114,15.869843,-3.323176
std,0.299646,3.037911,4.060012,2.629766,2.043351,1.627265,7.887190,0.867160,3.422813,3.335973,...,4.540336,3.018182,1.481911,3.988392,3.138089,1.427751,5.460012,0.920043,3.014017,10.438217
min,0.000000,0.597900,-15.043400,2.615000,-0.040200,5.490200,-29.777300,2.347300,5.349700,-9.905100,...,-13.999500,-2.009400,-3.566800,-11.783400,9.594900,-4.644200,-14.020400,5.960600,6.299300,-38.852800
25%,0.000000,8.461000,-4.751700,8.742600,5.252000,9.877400,-11.271800,4.768100,13.951300,-2.335100,...,-0.022800,5.161900,0.886300,0.587800,15.640500,-1.164000,-1.956100,8.253600,13.819700,-11.236200
50%,0.000000,10.526500,-1.614100,10.589100,6.837700,11.113000,-4.844100,5.387400,16.464600,0.409100,...,3.231400,7.341700,1.899100,3.387100,17.975900,-0.169000,2.390700,8.886000,15.931700,-2.800100
75%,0.000000,12.749600,1.371600,12.505900,8.333400,12.268000,0.907600,6.005500,19.119800,2.946300,...,6.410200,9.529300,2.952300,6.206400,20.421000,0.828300,6.573400,9.589400,18.071500,4.855300
max,1.000000,20.315000,10.376800,19.353000,13.188300,16.671400,16.806500,8.447700,27.638900,9.482200,...,18.342300,16.684600,7.611600,17.908600,27.928800,4.075600,16.226600,11.843900,26.079100,27.531900

MEAN c (class) is 0.099, which means only 9% of classes is classified as 1

In [46]:
train_values = train.values
X = train_values[:,2:]
Y = train_values[:,1]
Y = Y.astype('int')

In [47]:
X

array([[11.5006, -4.1473, 13.8588, ..., 8.7889, 18.355999999999998,
        1.9518],
       [8.6093, -2.7457, 12.0805, ..., 8.2675, 14.7222, 0.3965],
       [9.8369, -1.4834, 12.8746, ..., 9.5031, 17.9974, -8.8104],
       ...,
       [13.2152, -5.8006, 9.726, ..., 8.9709, 14.5405, 6.1149],
       [4.9149, -2.4484, 16.7052, ..., 6.7419, 15.9054, 0.3388],
       [9.7148, -8.6098, 13.6104, ..., 10.0342, 15.5289, -13.9001]],
      dtype=object)

In [48]:
Y

array([0, 0, 0, ..., 0, 0, 0])

In [50]:
x_train, x_val, y_train, y_val = train_test_split(X, Y, test_size=0.10, random_state=42)
clf = RandomForestClassifier(n_jobs=4, random_state=0)
clf.fit(x_train, y_train)
clf.predict(x_val)

array([0, 0, 0, ..., 0, 0, 0])

In [52]:
clf.feature_importances_

array([0.00591507, 0.00674944, 0.00779951, 0.00399611, 0.00469508,
       0.00540667, 0.00613961, 0.00437568, 0.00386782, 0.00551298,
       0.004459  , 0.00378167, 0.00918902, 0.00654212, 0.00439599,
       0.00387518, 0.00407375, 0.00383966, 0.0054761 , 0.0041712 ,
       0.00448454, 0.00576276, 0.00742842, 0.00497609, 0.00502985,
       0.00463509, 0.00857509, 0.00383872, 0.00362469, 0.00387808,
       0.00413676, 0.00391173, 0.00461808, 0.0068245 , 0.00670411,
       0.00532163, 0.00418718, 0.00435623, 0.00371209, 0.00405963,
       0.00692697, 0.00367899, 0.00344595, 0.00531142, 0.00629673,
       0.00422109, 0.0044396 , 0.00419606, 0.00442556, 0.00503507,
       0.00398433, 0.00505668, 0.00401964, 0.00911083, 0.00385292,
       0.00456446, 0.00510053, 0.00322768, 0.00428062, 0.00419633,
       0.00439878, 0.00353476, 0.00384003, 0.0041542 , 0.00427789,
       0.00435814, 0.00400983, 0.00472979, 0.00438431, 0.00404873,
       0.00474207, 0.0036276 , 0.0038796 , 0.00409194, 0.0037706 ,
       0.00527587, 0.00699514, 0.0046371 , 0.00566343, 0.00451651,
       0.00802598, 0.01173409, 0.0043328 , 0.00441434, 0.00398016,
       0.00393858, 0.00576715, 0.00450915, 0.00407693, 0.00467743,
       0.00474416, 0.0060742 , 0.00616836, 0.00438109, 0.00692188,
       0.00565221, 0.00373581, 0.00359599, 0.00348898, 0.00719127,
       0.00399063, 0.00419604, 0.00333239, 0.00405045, 0.00420587,
       0.00464973, 0.00507032, 0.00514557, 0.00523331, 0.00840737,
       0.00892235, 0.00469105, 0.00385311, 0.0041748 , 0.00457772,
       0.00503016, 0.0042941 , 0.00458288, 0.00528441, 0.00605076,
       0.00449701, 0.00512122, 0.00493923, 0.00670943, 0.00397428,
       0.00510184, 0.00344035, 0.00531234, 0.00398918, 0.00412315,
       0.00491636, 0.00522316, 0.00500476, 0.00475576, 0.004052  ,
       0.00481992, 0.00422931, 0.00523189, 0.00425287, 0.00929284,
       0.00360432, 0.00435307, 0.00414397, 0.00374297, 0.00429932,
       0.00464611, 0.00830892, 0.0063581 , 0.00600441, 0.0045456 ,
       0.00490551, 0.00536734, 0.00494982, 0.00426554, 0.00609512,
       0.00532401, 0.00395617, 0.00429121, 0.00375268, 0.00383017,
       0.00381625, 0.0044851 , 0.00427664, 0.0059026 , 0.00783948,
       0.00644115, 0.00720446, 0.00474584, 0.00529916, 0.00569987,
       0.00689444, 0.00398824, 0.00510103, 0.00502208, 0.00900919,
       0.00468729, 0.0037315 , 0.00664859, 0.00377312, 0.00748541,
       0.00558097, 0.00460176, 0.00367349, 0.00419265, 0.00581393,
       0.00499559, 0.00374065, 0.00429382, 0.00520642, 0.0037293 ,
       0.00569045, 0.00528162, 0.00477805, 0.00439761, 0.00441498,
       0.00472817, 0.00436215, 0.00515762, 0.00711319, 0.00467663])

In [29]:
kfold = model_selection.KFold(n_splits=4, random_state=0)
model = AdaBoostClassifier(n_estimators=1, random_state=0)
results = model_selection.cross_val_score(model, train_x, train_y, cv=kfold)
print(results.mean())

0.9006664767611243